<!doctype html>
<html>

<head>
  <title>Welcome to <%=shopData.shopName%>
  </title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
  <h1>Welcome to <%=shopData.shopName%>
  </h1>
  <h1>Welcome to Bertie's Books</h1>

  <ul>
    <li><a href="/books/list">List Books</a></li>
    <li><a href="/books/addbook">Add a Book</a></li>
    <li><a href="/books/search">Search for Books</a></li>
    <li><a href="/books/bargainbooks">Bargain Books</a></li>
  </ul>
  <p><a href="about">About <%=shopData.shopName%></a></p>
  <p><a href="books/search">Search for books</a></p>
  <p><a href="users/register">Register with us</a></p>
</body>

</html>